.standings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid darkblue;
}

.driver {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.constructor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next-race {
  border: 2px solid darkgreen;
}

.last-race {
  border: 2px solid darkorange;
}
